*{padding: 0; margin: 0;}

a#dropdownMenuLink {
    margin-right: -12px;
}

a.admin-i {
    margin-left: 25px;
}

.dropdown-menu {
    margin-top: 10px;
}

.navbar-header.navbar-nav-right {
    float: right;
    margin-right: 105px;
    margin-top: 6px;
}

a:hover{text-decoration: none;}