*{padding: 0; margin: 0;}

.block-new-1 .card-body a p.card-text {
    font-size: 13px;
    margin-top: 4px;
}

.block-new-1 .card-body a h4.card-title:hover {
    color: #a8b324;
    font-weight: 500;
}

.block-new-1 .card-body a {color: #0a472e;}

.block-new-1 .card-body {
    width: 320px!important;
    margin-left: 15px;
}

.block-new-1 .card-group .card a img {width: 103%;}

.article-new-1 .card-body img.card-img-top {
    width: 100%;
}

.speration {
    width: 104%;
    margin-top: -7px;
    color: #E8E8E8;
    border: 1px solid;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
}

.article-title-new {
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    margin: -35px 0 44px;
    /* background-color: #fff; */
}

.hot-deal .item-content {
    margin-left: 17px;
}

.hot-deal .star-rating {
    margin-left: 17px;
}

.hot-deal .item .card-body a h4 {
    padding-left: 23px;
}

.hot-deal .item {
    padding: 0;
}

.hot-deal {
    position: relative;
}

section.deals-block {
    padding: 70px 0px 0px 0px;
    margin-top: 0px;
}

.deals-block h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    color: #fff;
    text-align: left;
    padding: 35px 20px;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-top: -255px;
    position: relative;
    background: #007d51;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Rubik', sans-serif;
}
.content-new-pro {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    overflow: hidden;
    position: relative;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.ads-block .banner-text-normal a {
    font-size: 20px;
    font-weight: 500;
    display: block;
    color: #bebe28;
    float: right;
    margin-top: 105px;
    margin-right: -377px;
}

.ads-block .banner-text-big {
    font-size: 40px;
    font-weight: 500;
    display: block;
    color: #bebe28;
    line-height: normal;
    margin-bottom: 20px;
    float: right;
}

.ads-block {
    background: url( https://webmaudep.com/demo/thucpham/tp01/images/bg_3.jpg) no-repeat top center;
    padding: 6% 0 13% 0;
    text-align: center;
    margin-top: 36px;
    font-family: 'Rubik', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}

.hot-deal .card-body a{cursor: pointer;}

.product-bestseller .card.border-primary:hover .action button.button.btn-cart {
    background: #0ea360;
    color: #fff;
}

.hot-deal .card.border-primary:hover .action button.button.btn-cart {
    background: #0ea360;
    color: #fff;
}

.action button.button.btn-cart i {
    padding-right: 6px;
}

.action button.button.btn-cart {
    background: none repeat scroll 0 0 #fff;
    color: #0ea360;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 9px 16px;
    border: none;
    border-radius: 999px;
    text-transform: uppercase;
    border: 1px #0ea360 solid;
}

.action {
    margin-top: 10px;
    position: absolute;
    bottom: 16px;
    right: 30px;
}

.star-rating {}

.regular-price .price {
    font-weight: 400;
    font-size: 14px;
    color: #d51243;
    margin-left: 10px;
}

.star-rating {
    margin-top: -7px;
    margin-left: 7px;
}

.star-rating i {
    color: #ffc808;
    font-size: 10px;
}

.product-bestseller h4.card-title a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    color: #3e445a;
    margin-left: 42px;
}

.hot-deal .card-body a h4.card-title {
    font-size: 17px;
    margin-left: 82px;
}

.content-new-pro {
    margin-left: 14px;
}

.product-bestseller .item {
    margin-top: 0px;
    border-right: 1px #eaeaea solid;
    border-bottom: none;
    padding: 0px 25px;
    margin-bottom: 0px;
    margin-right: -5px;
}

.product-bestseller {
    border-right: 1px solid green;
}

.product-bestseller img {
    width: 100%;
    height: 100%;
    margin-left: -13px;
}

.category-product-1 .navbar-collapse-1>ul>li>a:hover {
    border-radius: 10px 0 0 0!important;
}

.category-product-1 .content-new-pro .navbar.nav-menu {
    margin-right: 14px;
}

.category-product-1 .navbar-collapse-1 ul li:hover a {
    background: transparent;
}

.category-product-1 .navbar-collapse-1 ul.nav.navbar-nav li {
    vertical-align: middle;
    width: 33.33%;
    margin: 0;
    border-radius: 10px 0 0 0;
}

.category-product-1 ul.nav.navbar-nav {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: row;
    background: #d3d3d4;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px #0ea360 solid;
}

.navbar-collapse-1 ul li.active a {
    color: #fff;
    font-weight: 400;
    background: #0ea360!important;
    border-color: #0ea360;
}

.navbar-collapse-1 ul li a {
    border-radius: 10px 0px 0px 0px;
    padding-left: 0;
    border-left: 1px #d3d3d4 solid;
    border-right: none;
    display: block;
    text-transform: uppercase;
    color: #333;
}

.navbar-collapse-1 {
    background: #e6e8ea;
    /* border-bottom: 2px #0ea360 solid; */
    border-radius: 10px 10px 0px 0px;
    padding: 0;
    /* align-items: center; */
    /* padding-left: 0; */
}

.flaticon-shipped {
    font-size: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

section.info-shop {
    padding-top: 70px;
    padding-bottom: 80px;
}
.info-shop .icon:after{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.19);
    border-radius: 50%;
}

.category-wrap {
    width: 100%;
    height: 250px;
    display: block;
}

.info-shop .icon span {
    font-size: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

.info-shop .icon {
    line-height: 1.3;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.text-wrap h2 a {
    color: #fff;
}

.text-wrap h2 {
    font-size: 18px;
    margin-top: 13px;
    font-family: "Poppins", Arial, sans-serif;
}
.text-wrap {
    background: #82ae46;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    width: 108px;
    height: 43px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.text-wrap-2 .text h2 {
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    font-size: 24px;
    margin-top: 90px;
}
